<%- include("partials/header", {ejs_signed_in: true}); %>
<% if(!ejs_staff) { %>
<%- include("partials/userdashboard.ejs"); %>
<% } else { %>
<%- include("partials/staffdashboard.ejs"); %>
<% } %>

<div class="dashboard-main is-scrollable">
        <div class="section">
            <div class="columns">
                <div class="column">
                    <h1 class="title" style="color: black;">All listings</h1>
                    <br>
                </div>
            </div>
            <div class="row columns is-multiline">
                <% ejs_listings.forEach(listing => { %>
                    <div class="column is-4">
                        <div class="card large">
                            <div class="card-image">
                                <figure class="image is-16by9">
                                    <img src="data:image/<%=listing.image.contentType%>;base64,
                                    <%=listing.image.data.toString('base64')%>">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title"><%= listing.name %></p>
                                    </div>
                                </div>
                                <div class="content">
                                    <p><%= listing.description %></p>
                                    <p style="color: grey;">Date of birth: <%= listing.dob.getDate() + "/" + listing.dob.getMonth() + "/" + listing.dob.getFullYear() %></p>
                                    <form action="/adopt" method="post">
                                        <button name="adoptButton" value="<%= listing._id %>" type="submit" class="button is-primary">Adopt</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div> 
</div>



<%- include("partials/footer"); %>