<%- include('partials/header', {ejs_signed_in: true}) %>
<% if(!ejs_staff) { %>
<%- include('partials/userdashboard') %>
<% } else { %>
<%- include('partials/staffdashboard'); %>    
<% } %>

<main class="main">
    <p class="title3">
        Hello, <%= ejs_name %>
    </p>
</main>

<%- include('partials/footer') %>