<%- include("partials/header", {ejs_signed_in: true}) %>
<%- include("partials/userdashboard") %>

<div class="dashboard-main is-scrollable">
    <div class="section">
        <div class="columns">
            <div class="column">
                <h1 class="title" style="color: black;">My Adoption Requests</h1>
            </div>
        </div>
        <table class="table">
            <thead>
                <th><abbr title="ListingID">Listing ID</abbr></th>
                <th><abbr title="ListingName">Listing Name</abbr></th>
                <th><abbr title="Status">Status</abbr></th>
            </thead>
            <tbody>
                <% ejs_listings.forEach(listing => { %>
                    <tr>
                        <td><%= listing.listing %></td>
                        <td><%= listing.name %></td>
                        <td><%= listing.status %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>

<%- include("partials/footer") %>